:root {
    --green-1: #1f3133;
    --green-10: #b5eaee;
    --green-8: #7ec6cc;
    --green-2: #2f4a4c;
    --30-green-transparent: #7ec6cc4d;
    --antique-white: #e5dbc9;
    --tan: #b3a58d;
    --green-3: #3f6366;
    --green-9: #99dce2;
    --50-green-transparent: #7ec6cc80;
    --green-4: #4f7c80;
    --dim-grey: #5a5347;
    --10-green-transparent: #7ec6cc1a;
    --40-green-transparent: #7ec6cc66;
    --20-green-transparent: #7ec6cc33;
    --green-11: #e0f6f8;
    --green-5: #57888c;
    --green-0: #172526;
    --60-green-transparent: #7ec6cc99;
    --green-6: #5e9599;
    --brown-1: #4c3226;
    --brown-5: #99644d;
    --green-7: #6eadb3;
    --dim-grey-2: #83695e;
    --old-lace: #fff8eb;
    --grey: #7f7665;
    --black: #332f28;
    --brown-2: #664333;
    --brown-3: #7f5340;
    --brown-4: #8c5b46;
    --brown-6: #b27459;
    --burntsienna: #cc8566;
    --dark-salmon: #e59673;
    --80-green-transparent: #7ec6cccc;
    --5-green-transparent: #7ec6cc0d;
    --peach-puff: #f3cfbf;
    --cta-color: #bd2f7d;
    --transparent-white: #fffc;
    --black-2: #25221d;
    --black-3: #261913
}